body {
    color: white;
    background: rgb(0, 0, 0);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px #9de3f0;
    padding: 20px;
    font-size: 32px;
    color: rgb(168, 222, 243)
}

section {
    background: #005779;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
} 
  
h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}